/* Goofle fonts: */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.registerDesign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: auto;
}

.col1Register{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tittleRegister {
  font-family: "Roboto", sans-serif;
  margin-bottom: 1em;
  margin-top: 2em;
  width: 80vw;
  /* font-size: 20px; */
}

.formBox{
  background-color: #F3F4EF;
  border: solid 2px #272C41;
  margin-bottom: 30px;
  width: 40%;
  height: 80%;
  border-radius: 10px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.inputDesign {
    background-color: #f5ebd8;
    border: solid 1.5px #272C41;
    border-radius: 20px;
    width: 80%;
    height: 5vh;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 13px;
  }

  .vectorsRegister{
    width: 100%;
  }



  @media screen and (max-width: 700px) {
    .formBox{
        
        width: 60%;
        
      }
      .vectorsRegister{
        width: 150%;
      }
  }