.navbarDesign {
  background-color: #fd645c;
  height: 3.2em;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.logoNavbar {
  width: 37px;
}

.logoNavbar:hover {
  scale: 1.2;
  transition: 0.2s;
}
