.containerFooter {
  background-color: #272c41;
  color: #f3f4ef;
  font-size: 12px;
  font-style: italic;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
