.loginDesign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.col1Login {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -5em;
}

.col2Login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.formBoxLogin {
  background-color: #96b7a5;
  border: solid 1px #272c41;

  margin-bottom: 30px;
  margin-top: -4em;
  width: 40%;
  height: 70%;
  border-radius: 10px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.inputDesignLogin {
  background-color: #f5ebd8;
  border: solid 1.5px #272c41;
  border-radius: 10px;
  width: 80%;
  height: 5vh;
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 13px;
}

.vectorsLogin {
  width: 100%;
}

.tittleLogin {
  font-family: "Roboto", sans-serif;
  margin-bottom: 1em;
  margin-top: 2em;
  width: 80vw;
}

@media screen and (max-width: 600px) {
  .formBoxLogin {
    width: 70%;
    margin-top: -1em;
  }
}
